<h1>Toplantı Katılım Listesi</h1>
<table>
    <thead>
        <tr>
            <td>ad</td>
            <td>Email</td>
            <td>Katılım durumu</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Vasfi Ölmez</td>
            <td>.com</td>
            <td>evet</td>
            <td>
                <a href="">Detay</a>
            </td>
        </tr>
    </tbody>
</table>