<h1 class="h4">Toplantı Katılım Listesi</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Ad Soyad</td>
            <td>Katılım durumu</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Vasfi Ölmez</td>
            <td>evet</td>
            <td>
                <a class="btn btn-sm btn-primary" href="">Detay</a>
            </td>
        </tr>
    </tbody>
</table>