@model Course;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
</head>

<body>
    <h1>Course Index Page </h1>
    <h2>id: @Model.Id</h2>
    <h2>title: @Model.Title</h2>
    <h3>description: @Model.Description</h3>
</body>

</html>