@model MeetingInfo

@{
ViewBag.Title="Toplantı Başvuru";
Layout="_Layout2";
}

<main class="text-center">

    <h1 class="h4">@ViewBag.Selamlama </h1>
    <p>Toplantı katılım durumunu belirtiniz.</p>
    <div class="car my-2">

        <ul class="list-group list-group-flush">
            <li class="list-group-item">@Model.Location</li>
            <li class="list-group-item">@Model.Date.ToString("dd/MM/yyyy HH:mm:ss") tarihinde gerçekleşektir.</li>
            <li class="list-group-item">@Model.NumberOfPeople Katılımcı </li>
        </ul>
    </div>
    <a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Başvuru yap</a>
</main>